<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RoleMapper">

    <select id="selectRolesByUserId" resultType="com.study.entity.Role">
        select * from role where id in (select rid from role_user where uid = #{userId})
    </select>
</mapper>
